:root {
    --primary-color: #f0f0f0;  
    --secondary-color: #333; 
    --background-color: #f0f0f0;
}

body {
    font-family: 'Courier New', monospace;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

header {
    background-color:var(--secondary-color); /* #333; */
    color: var(--primary-color); /*#fff; */
    padding: 1em;
    text-align: center;
}

section {
    max-width: 800px;
    margin: 2em auto;
    padding: 0 1em;
}

section img {
    max-width: 20%;
    height: auto; 
    float: right; 
    margin: 0 1em 1em 0; 
}

footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 1em;
    text-align: center;
}
